<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('edituser', {'id': app.user.id }) }}">{{ app.user.username }}</a>
                <a href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('login') }}">Login</a>
                <a href="{{ path('registration') }}">registrieren</a><br>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('formfirma') }}">Firma eintragen</a>
            {#<a href="{{ path('formcontact') }}">Ansprechpartner eintragen</a>#}
            {% endif %}
        {% endblock %}<br><br>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
