{% extends 'base.html.twig' %}
{% block header %}
Firmen
{% endblock %}
{% block body %}
{% if firmen is defined %}
<table class="table">
    <thead>
        <tr>
            <th>
            Adresse    
            </th>
            <th>
            Kurzbeschreibung
            </th>
            <th>
            Ansprechpartner
            </th>
        </tr>
    </thead>
    <tbody>
    {% for firma in firmen %}
    <tr>
        <td>
            <a href="http://{{ firma.website | raw}}">{{ firma.website }}</a>
            <address>
            <strong>
                <a href="{{ path('editfirma', {'id': firma.id}) }}">{{ firma.name }}</a>
            </strong><br>
            {{ firma.street }}<br>
            {{ firma.postcode }} {{ firma.city }}
            </address>
        </td>
        <td>
            {{ firma.description }}
        </td>
        <td>
            <ul>
            {% for person in firma.ansprechpartner %}
                <li>{{ person.prename }} {{ person.surname }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}