{% extends 'base.html.twig' %}
{% block header %}
Firmen
{% endblock %}
{% block body %}
{% if firmen is defined %}
<table class="table">
    <thead>
        <tr>
            <th>
            Adresse    
            </th>
            <th>
            Ansprechpartner
            </th>
            <th>
            Informationen
            </th>
        </tr>
    </thead>
    <tbody>
    {% for firma in firmen %}
    <tr>
        <td>
            <a href="http://{{ firma.website | raw}}">{{ firma.website }}</a>
            <address>
            {% if is_granted('ROLE_STAFF') %}
            <strong>
                <a href="{{ path('editfirma', {'id': firma.id}) }}">{{ firma.name }}</a>
            </strong><br>
            {% else %}
            <strong>
                {{ firma.name }}
            </strong><br>
            {% endif %}
            {{ firma.street }}<br>
            {{ firma.postcode }} {{ firma.city }}<br>
            {{ firma.description }}
            </address>
        </td>
        <td>
            <ul>
            {% for person in firma.ansprechpartner %}
                <li>{{ person.prename }} {{ person.surname }}<br>
                    {{ person.position }}<br>
                    {{ person.phone }} / {{ person.email }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
            {% for information in firma.information %}
                <li>{{ information.title }}<br>
                {{ information.content }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}