{% extends 'base.html.twig' %}

{% block header %}
Praktikums-Firmen-Verwaltung
{% endblock %}
{% block body %}
    {{ form_start(form) }}<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
    {{ form_label(form.searchbar, 'Firmensuche') }} 
    {{ form_widget(form.searchbar) }}
    <input type="submit" value="Suche"/>
    {{ form_end(form) }}
    <br>
    <div id="results">
        {% if firmen is defined %}
            {% for firma in firmen %}
                <a href="{{ path('editfirma', {'id': firma.id}) }}">{{ firma.name }}</a><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/*'
                    '@AppBundle/Resources/public/js/searchtool.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
