{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.searchbar, 'Firmensuche (Suchen nach Firmenname, Telefonnumer oder Webadresse(www.beispiel.de)') }}
    {{ form_widget(form) }}
    <input type="submit" />
    {{ form_end(form) }}
    <br>
    <div id="results">
        {% if firmen is defined %}
            {% for firma in firmen %}
                <a href="{{ path('editfirma', {'id': firma.id}) }}">{{ firma.name }}</a><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*'
                    '@AppBundle/Resources/public/js/searchtool.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
