{% extends 'base.html.twig' %}

{% block body %}
{% for user in users %}
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('edituser', {'id': user.id}) }}">{{ user.username }}</a> {{ user.prename }} {{ user.surname }} - {{ user.email }}<br>
    {% else %}
    {{ user.username }}<br>
    {% endif %}
{% endfor %}
{% endblock %}