{% extends 'base.html.twig' %}
{% block header %}
Aktive Praktika
{% endblock %}
{% block body %}
{% for praktikum in praktika %}
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('editpraktikum', {'id': praktikum.id}) }}">{{ praktikum.user.username }} bei {{ praktikum.firma.name }}</a><br>
    {% else %}
    {{ praktikum.user.username }} bei {{ praktikum.firma.name }}<br>
    {% endif %}
{% endfor %}
{% endblock %}