{% extends 'base.html.twig' %}
{% block header %}
Kontakte
{% endblock %}
{% block body %}
    <h2>Kontakte</h2>
{% if kontakte is not empty %}
    {% for kontakt in kontakte %}
        <a href="{{ path('showcorrespondence', {'kontakt_id': kontakt.id }) }}">{{ kontakt.ansprechpartner.prename }} {{ kontakt.ansprechpartner.surname }}</a>
        <a href="{{ path('deleterelationship', {'id': kontakt.id }) }}">Löschen</a>
        <br>
    {% endfor %}
{% else %}
    <p>Noch keine Kontakte vorhanden</p>
{% endif %}
<a href="{{ path('createrelationship') }}">Neu Hinzufügen</a>
<br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}