{% extends 'base.html.twig' %}

{% block header %}
Teilnehmersuche
{% endblock %}
{% block body %}
<div class="row">
    <div class="center-block text-center">
    {{ form_start(form) }}<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
    {{ form_label(form.searchbar, 'Usersuche') }} 
    {{ form_widget(form.searchbar) }}
    <input type="submit" value="Suche" class="btn btn-default"/>
    {{ form_end(form) }}
    </div>
</div>
<div id="results">
{% if users is defined %}
<table class="table">
    <thead>
        <tr>
            <th width="40%">
            Login-Daten 
            </th>
            <th width="20%">
            Adresse
            </th>
            <th width="40%">
            Informationen
            </th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>
            <a href="{{ path('showuser', {'id': user.id}) }}">{{ user.username }}</a><br> 
            {{ user.email }}
        <td>
            <adress>
            {% if user.prename is not empty %}
                {{ user.prename }}
            {% endif %}
            {% if user.surname is not empty %}
                {{ user.surname }}<br>
            {% endif %}
            {% if user.street is not empty %}
                {{ user.street }}<br>
            {% endif %}
            {% if user.postcode is not empty %}
                {{ user.postcode }}
            {% endif %}
            {% if user.city is not empty %}
                {{ user.city }}<br>
            {% endif %}
            {% if user.phone is not empty %}
                Tel.: {{ user.phone }}
            {% endif %}<br>
            </adress>
            <a href="{{ path('showuser', {'id': user.id}) }}">Daten bearbeiten</a>
        </td>
        <td>
            <ul>
            {% for information in user.information %}
                <li><a href="{{ path('editinformation', {'id': information.id }) }}">{{ information.infotitle }}</a> vom {{ information.datum|date('d.m.Y') }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}
