{% extends 'base.html.twig' %}

{% block body %}
<h2>{{ firma.name }}</h2>
    {% if message is defined %}
    {{ message }}
    {% endif %}
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte geben Sie die Firmendaten ein</legend>
        <table>
            <tr>
                <td>{{ form_label(form.name, 'Firmenname') }}</td>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.street, 'Strasse und Hausnummer') }}</td>
                <td>{{ form_widget(form.street) }}</td>
                <td>{{ form_errors(form.street) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.postcode, 'PLZ') }}</td>
                <td>{{ form_widget(form.postcode) }}</td>
                <td>{{ form_errors(form.postcode) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.city, 'Stadt') }}</td>
                <td>{{ form_widget(form.city) }}</td>
                <td>{{ form_errors(form.city) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.website, 'Website') }}</td>
                <td>{{ form_widget(form.website) }}</td>
                <td>{{ form_errors(form.website) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.description, 'Beschreibung') }}</td>
                <td>{{ form_widget(form.description) }}</td>
                <td>{{ form_errors(form.description) }}</td>
            </tr>
        </table>
    <input type="submit" value="speichern">
    </fieldset>
    {% if is_granted('ROLE_ADMIN') %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Achtung</h3>
            </div>
            <div class="panel-body">
                <input type="submit" name="delete" id="delete" value="löschen" class="btn btn-warning">
            </div>
        </div>
    </div>
</div>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    <h3>Ansprechpartner</h3>
    <ul>
    {% if firma.ansprechpartner is defined %}
        {% for ansprechpartner in firma.ansprechpartner %}
            <li><a href="{{ path('editcontact', {'id': ansprechpartner.id }) }}">{{ ansprechpartner.prename }} {{ ansprechpartner.surname }}</a></li>
        {% endfor %}
    {% endif %}
        <li><a href="{{ path('formcontact', {'id': firma.id}) }}">Neu Hinzufügen</a></li>
    </ul>
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}