{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block header %}Passwort{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    input {
        display: block;
    }  
    form {
        margin-bottom: 10px;
    }
    
</style>
{% endblock %}
{% block body %}
{{ form_start(form) }}
    <fieldset>
        <legend>Bitte geben Sie Ihr neues Passwort ein</legend>
        <table>
            <tr>
                <td>{{ form_label(form.password.first) }}</td>
                <td>{{ form_widget(form.password.first) }}</td>
                <td>{{ form_errors(form.password.first) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.password.second) }}</td>
                <td>{{ form_widget(form.password.second) }}</td>
                <td>{{ form_errors(form.password.second) }}</td>
            </tr>
        </table>
    <input type="submit" value="speichern" class="btn btn-default">
    </fieldset>
    {{ form_errors(form) }}
    {{ form_end(form) }}
<br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}