{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block header %}Profil{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    input {
        display: block;
    }  
    form {
        margin-bottom: 10px;
    }
    
</style>
{% endblock %}
{% block body %}
{% if message is defined and message is not empty %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </h3>
  </div>
  <div class="panel-body">
    {{ message }}
  </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h2>Daten</h2>
        
        {{ form_start(form) }}
        <div class="form-group">
        {{ form_label(form.username, 'Benutzername') }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
        </div>
        <div class="form-group">
        {{ form_label(form.email, 'E-Mail') }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
        {{ form_label(form.prename, 'Vorname') }}
        {{ form_widget(form.prename) }}
        {{ form_errors(form.prename) }}
        </div>
        <div class="form-group">
        {{ form_label(form.surname, 'Nachname') }}
        {{ form_widget(form.surname) }}
        {{ form_errors(form.surname) }}
        </div>
        <div class="form-group">
        {{ form_label(form.street, 'Strasse und Hausnummer') }}
        {{ form_widget(form.street) }}
        {{ form_errors(form.street) }}
        </div>
        <div class="form-group">
        {{ form_label(form.postcode, 'PLZ') }}
        {{ form_widget(form.postcode) }}
        {{ form_errors(form.postcode) }}
        </div>
        <div class="form-group">
        {{ form_label(form.city, 'Stadt') }}
        {{ form_widget(form.city) }}
        {{ form_errors(form.city) }}
        </div>
        <div class="form-group">
        {{ form_label(form.phone, 'Telefonnummer') }}
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
        </div>
    <input type="submit" value="speichern" class="btn btn-default">
    {{ form_errors(form) }}
    {{ form_end(form) }}
    </div>
    <div class="col-md-6">
        <h2>Optionen</h2>
        {% if is_granted('ROLE_STAFF') %}
         <a href="{{ path('changepasswordof', {'id': user.id}) }}">Passwort ändern</a>    
        {% else %}
        <a href="{{ path('changepassword') }}">Passwort ändern</a>
        {% endif %}
        <br>
        {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('changerights', {'id': user.id}) }}">Rechte ändern</a>
        <br>
        {% endif %}
        Aktuelle Rechte: 
        {% if user.role == "ROLE_USER" %}
        Benutzer
        {% elseif user.role == "ROLE_STAFF"%}
        Mitarbeiter
        {% else %}
        Administrator
        {% endif %}
    </div>
</div>
{% if is_granted('ROLE_USER') %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Achtung</h3>
            </div>
            <div class="panel-body">
                <input type="submit" name="delete" id="delete" value="löschen" class="btn btn-warning">
            </div>
        </div>
    </div>
</div>
{% endif %}
<br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}