{% extends 'base.html.twig' %}
{% block header %}
Ansprechpartner eintragen
{% endblock %}
{% block body %}
    <h2>Ansprechpartner eintragen</h2> 
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte Daten vom Ansprechpartner eingeben</legend>
        <table>
            <tr>
                <td>{{ form_label(form.prename, 'Vorname') }}</td>
                <td>{{ form_widget(form.prename) }}</td>
                <td>{{ form_errors(form.prename) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.surname, 'Nachname') }}</td>
                <td>{{ form_widget(form.surname) }}</td>
                <td>{{ form_errors(form.surname) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.position, 'Position') }}</td>
                <td>{{ form_widget(form.position) }}</td>
                <td>{{ form_errors(form.position) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.phone, 'Telefon') }}</td>
                <td>{{ form_widget(form.phone) }}</td>
                <td>{{ form_errors(form.phone) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email, 'E-Mail') }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
        </table>
    <input type="submit" value="speichern">
    </fieldset>
    {%if ansprechpartner is defined%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Achtung</h3>
            </div>
            <div class="panel-body">
                <input type="submit" name="delete" id="delete" value="löschen" class="btn btn-warning">
            </div>
        </div>
    </div>
</div>
    {%endif%}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}