{% extends 'base.html.twig' %}

{% block body %}
    <h2>Erstelle einen neuen Firmeneintrag</h2>    
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte Firmendaten eingeben</legend>
        <ul>
            <li>
                {{ form_label(form.name, 'Firmenname') }}: {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </li>
            <li>
                {{ form_label(form.street, 'Strasse') }}: {{ form_widget(form.street) }}
                {{ form_errors(form.street) }}
            </li>
            <li>
                {{ form_label(form.city, 'Stadt') }}: {{ form_widget(form.city) }}
                {{ form_errors(form.city) }}
            </li>
            <li>
                {{ form_label(form.postcode, 'PLZ') }}: {{ form_widget(form.postcode) }}
                {{ form_errors(form.postcode) }}
            </li>
            <li>
                {{ form_label(form.website, 'Website') }}: {{ form_widget(form.website) }}
                {{ form_errors(form.website) }}
            </li>
            <li>
                {{ form_label(form.description, 'Beschreibung') }}: {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </li>
            <li>
                {{ form_label(form.ansprechpartner, 'Ansprechpartner') }}: {{ form_widget(form.ansprechpartner) }}
                {{ form_errors(form.ansprechpartner) }}
            </li>
        </ul>
        <input type="submit" value="erstelle Firma">
    </fieldset>
    {{ form_end(form) }}
{% endblock %}