{% extends 'base.html.twig' %}
{% block header %}
Firmeninformation eintragen
{% endblock %}
{% block body %}
    <h2>Firmeninformation eintragen</h2> 
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte die Informationen eingeben</legend>
        <table>
            <tr>
                <td>{{ form_label(form.type, 'Art der Korrespondenz') }}</td>
                <td>{{ form_widget(form.type) }}</td>
                <td>{{ form_errors(form.type) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.datum, 'Datum') }}</td>
                <td>{{ form_widget(form.datum) }}</td>
                <td>{{ form_errors(form.datum) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.title, 'Titel') }}</td>
                <td>{{ form_widget(form.title) }}</td>
                <td>{{ form_errors(form.title) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.content, 'Inhalt') }}</td>
                <td>{{ form_widget(form.content) }}</td>
                <td>{{ form_errors(form.content) }}</td> 
            </tr>
        </table>
    <input type="submit" value="erstellen">
    </fieldset>
    {%if information is defined and is_granted('ROLE_ADMIN')%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Achtung</h3>
            </div>
            <div class="panel-body">
                <input type="submit" name="delete" id="delete" value="löschen" class="btn btn-warning">
            </div>
        </div>
    </div>
</div>
    {%endif%}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}