{% extends 'base.html.twig' %}
{% block header %}
Praktikum eintragen
{% endblock %}
{% block body %}
    <h2>Erstelle einen Praktikumseintrag</h2>    
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.startdatum, 'Start Datum') }}
        {{ form_widget(form.startdatum) }}
        {{ form_errors(form.startdatum) }}
    </div>
    <div class="form-group">
        {{ form_label(form.enddatum, 'End Datum') }}
        {{ form_widget(form.enddatum) }}
        {{ form_errors(form.enddatum) }}
    </div>
    <div class="form-group">
        {{ form_label(form.beruf, 'Beruf') }}
        {{ form_widget(form.beruf) }}
        {{ form_errors(form.beruf) }}
    </div>
    {% if is_granted('ROLE_STAFF') %}
    <div class="form-group">
        {{ form_label(form.user, 'Praktikant') }}
        {{ form_widget(form.user) }}
        {{ form_errors(form.user) }}
    </div>
    {% else %}
        {# field has to set as rendered otherwise it will be displayed at the end #}
        {% do form.user.setRendered %}
    {% endif %}
    <div class="form-group">
        {{ form_label(form.firma, 'Firma') }}
        {{ form_widget(form.firma) }}
        {{ form_errors(form.firma) }}
    </div>
    <p>
        <input type="submit" value="speichern" class="btn btn-default">
    </p>
    {%if praktikum is defined and is_granted('ROLE_ADMIN')%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Achtung</h3>
            </div>
            <div class="panel-body">
                <input type="submit" name="delete" id="delete" value="löschen" class="btn btn-warning">
            </div>
        </div>
    </div>
</div>
    {%endif%}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}