{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
label {
  width: 150px;
  display: inline-block;
  border-bottom: solid 1px;
}
li {
  
  list-style-type: none;
}
</style>
{% endblock %}
{% block body %}
    <h2>Registrierung</h2>
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte geben Sie Ihre Daten ein</legend>
        <ul>
            <li>
                {{ form_label(form.username, 'Benutzername') }}: {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </li>
            <li>
                {{ form_label(form.email, 'E-Mail') }}: {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </li>
            <li>
                {{ form_label(form.password.first) }}: {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </li>
            <li>
                {{ form_label(form.password.second) }}: {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </li>
        </ul>
    <input type="submit" value="registrieren">
    </fieldset>
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}