{% extends 'base.html.twig' %}
{% block header %}
Kontakt eintragen
{% endblock %}
{% block body %}
    <h2>Erstelle einen Kontakteintrag</h2>    
    {{ form_start(form) }}
    <fieldset>
        <legend>Bitte Kontaktperson eingeben</legend>
        <table>
            <tr>
                <td>{{ form_label(form.ansprechpartner, 'Ansprechpartner') }}</td>
                <td>{{ form_widget(form.ansprechpartner) }}</td>
                <td>{{ form_errors(form.ansprechpartner) }}</td>
            </tr>
        </table>
        <input type="submit" value="speichern">
    </fieldset>
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
    <br>Zurück zur <a href="{{ path('homepage') }}">Hauptseite</a>
{% endblock %}